{% comment %} path: theme/layout/theme.liquid {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% seo_tags %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%20100%20100'%3E%3Ctext%20y%3D'.9em'%20font-size%3D'90'%3E%F0%9F%8F%86%3C%2Ftext%3E%3C%2Fsvg%3E">

  {{ 'default-main.css' | asset_url | stylesheet_tag }}
  {{ 'custom-main.css' | asset_url | stylesheet_tag }}
  {% if settings.current_theme == "modern" %}{{ "minimal-main.css" | asset_url | stylesheet_tag }}{% endif %}
  {% if settings.current_theme == "stylistic" %}{{ "blocks-main.css" | asset_url | stylesheet_tag }}{% endif %}
</head>
<body class="theme-{{ settings.current_theme | default: 'classic' }}">
  {% if settings.display_under_construction_page %}
    {% include 'under_construction_page' %}
    <div id="homecontent">
  {% endif %}

  {% include 'header' %}
  {% include 'notification' %}

  {% if template_name == 'index' and settings.display_slideshow %}
    {% include 'carousel' %}
  {% endif %}

  <div class="content-container mx-xl-auto mx-xxl-auto my-3 wrap">
    {{ content_for_layout }}
  </div>

  {% if settings.current_theme == "classic" %}{% include 'footer' %}{% endif %}
  {% if settings.current_theme == "modern" %}{% include 'minimal_footer' %}{% endif %}
  {% if settings.current_theme == "stylistic" %}{% include 'blocks_footer' %}{% endif %}

  {{ 'sitewide.js' | asset_url | script_tag }}
</body>
</html>
